<div class="main">

    <p>Server-Driven table</p>


    <clr-datagrid (clrDgRefresh)="refresh($event)" [clrDgLoading]="loading">
        <!-- table column names -->
        <clr-dg-column [clrDgField]="'booksrefno'" [clrDgColType]="'number'">Book Ref. no.</clr-dg-column>
        <clr-dg-column [clrDgField]="'title'">Title (Volume)</clr-dg-column>
        <clr-dg-column [clrDgField]="'author'">Authors</clr-dg-column>
        <clr-dg-column [clrDgField]="'category'">Category (Sub-Category)</clr-dg-column>
        <clr-dg-column [clrDgField]="'totalpages'" [clrDgColType]="'number'">Total Pages</clr-dg-column>
        <clr-dg-column [clrDgField]="'actions'">Actions</clr-dg-column>

        <!-- table column values row vise -->
        <clr-dg-row *ngFor="let book of booksData;let i=index">
            <!-- book ref no. -->
            <clr-dg-cell>{{book.bookReferenceNo}}</clr-dg-cell>

            <!-- title and volume -->
            <clr-dg-cell>{{book.title}} ({{book.numberOfVolume}})</clr-dg-cell>


            <!-- author  -->
            <clr-dg-cell>{{book.authors[0].authorName}}</clr-dg-cell>

            <!-- category and sub-category -->
            <clr-dg-cell>{{book.category.categoryName}}({{book.subCategory.subCategoryName}})</clr-dg-cell>

            <!-- total pages -->
            <clr-dg-cell>{{book.numberOfPages}}</clr-dg-cell>

            <!-- actions -->
            <clr-dg-cell>
                <button class="btn btn-primary btn-icon" (click)="copyBook(i)">
                    <clr-icon shape="copy"></clr-icon>
                </button>
                <button class="btn btn-danger btn-icon" (click)="deleteBook(i)">
                    <clr-icon shape="trash"></clr-icon>
                </button>
            </clr-dg-cell>
        </clr-dg-row>

        <clr-dg-footer>
            <clr-dg-pagination #pagination [clrDgPageSize]="5">
                <clr-dg-page-size [clrPageSizeOptions]="[5,10,20,50,100]">Books per page</clr-dg-page-size>
                {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}}
                of {{pagination.totalItems}} books
            </clr-dg-pagination>
        </clr-dg-footer>

        <!-- alternative -->
        <!-- <clr-dg-footer>
            {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}}
            of {{total}} users
            <clr-dg-pagination #pagination [clrDgTotalItems]="total"></clr-dg-pagination>
        </clr-dg-footer> -->

    </clr-datagrid>




</div>