<div *ngIf="isLoading" style="text-align: center;" id="loadingSpinner">
    <app-loading-spinner></app-loading-spinner>
</div>
<div class="content-container">
    <div class="card">
        <h3 class="card-header">Register</h3>
        <h4 class="card-title">Create a new Account</h4>
        <form clrForm [formGroup]="registerForm" (ngSubmit)="onRegisterSubmit()">

            <!-- Username -->
            <clr-input-container>
                <label class="clr-col-4 clr-col-md-4 ">Username:</label>
                <input clrInput type="text" formControlName="userName" placeholder="Username"
                    class="clr-col-8 clr-col-md-8" />
                <clr-control-error *clrIfError="'required'">Username is required</clr-control-error>
                <clr-control-error *clrIfError="'minlength'">Minimum length must be 4 characters</clr-control-error>
                <clr-control-error *clrIfError="'maxlength'">Maximum length must be 50 characters</clr-control-error>
                <clr-control-error *clrIfError="'pattern'">Username should only contain characters and spaces
                </clr-control-error>
            </clr-input-container>

            <!-- mobile number -->
            <clr-input-container>
                <label class="clr-col-4 clr-col-md-4 ">Phone Number:</label>
                <input clrInput type="tel" formControlName="phone" placeholder="Phone Number"
                    class="clr-col-8 clr-col-md-8" />
                <clr-control-error *clrIfError="'minlength'">Phone Number should only contain 10 digits, without country
                    code</clr-control-error>
                <clr-control-error *clrIfError="'maxlength'">Phone Number should only contain 10 digits, without country
                    code</clr-control-error>
            </clr-input-container>

            <!-- Email ID -->
            <clr-input-container>
                <label class="clr-col-4 clr-col-md-4 ">Email:</label>
                <input clrInput type="email" formControlName="email" placeholder="Email"
                    class="clr-col-8 clr-col-md-8" />
                <clr-control-error *clrIfError="'email'">Email is invalid</clr-control-error>
                <!-- <clr-control-error *clrIfError="'required'">AT leaset one value required</clr-control-error> -->
            </clr-input-container>

            <!-- Gender -->
            <clr-radio-container>
                <label class="clr-col-4 clr-col-md-4 ">Select Gender:</label>
                <clr-radio-wrapper>
                    <input type="radio" clrRadio required value="male" formControlName="gender"
                        class="clr-col-8 clr-col-md-8" />
                    <label>Male</label>
                </clr-radio-wrapper>
                <clr-radio-wrapper>
                    <input type="radio" clrRadio required value="Female" formControlName="gender"
                        class="clr-col-8 clr-col-md-8" />
                    <label>Female</label>
                </clr-radio-wrapper>
                <clr-radio-wrapper>
                    <input type="radio" clrRadio required value="Others" formControlName="gender" />
                    <label>Others</label>
                </clr-radio-wrapper>
            </clr-radio-container>

            <!-- Date of Birth -->
            <clr-date-container>
                <label class="clr-col-4 clr-col-md-4 ">DOB:</label>
                <input type="date" clrDate formControlName="dob" class="clr-col-8 clr-col-md-8">
                <clr-control-error *clrIfError="'ageLt'">User age must be 18 year</clr-control-error>
                <clr-control-error *clrIfError="'ageGt'">User age must be below 70 year</clr-control-error>
            </clr-date-container>

            <!-- User Role -->
            <clr-select-container>
                <label class="clr-col-4 clr-col-md-4 ">Role:</label>
                <select clrSelect formControlName="role" class="clr-col-8 clr-col-md-8">
                    <option [value]="role.roleId" *ngFor="let role of roles">{{role.roleName}}</option>
                </select>
                <clr-control-error>This field is required!</clr-control-error>
            </clr-select-container>

            <!-- Hobbies -->
            <div id="hobbies">
                <div formArrayName="hobbies">

                    <clr-input-container *ngFor="let hobby of controls; let i = index">
                        <label class="clr-col-4 clr-col-md-4">Hobbies:</label>
                        <input clrInput type="text" [formControlName]="i" placeholder="hobbies"
                            class="clr-col-8 clr-col-md-8" />
                        <clr-control-helper>Maximum 5 hobbies are allowed</clr-control-helper>
                    </clr-input-container>
                    <button type="button" class="btn btn-icon btn-primary tooltip tooltip-xs tooltip-right"
                        (click)="onAddHobby()" id="hobby">
                        + <span class="tooltip-content">Add hobby</span>
                    </button>
                    <button type="button" class="btn btn-icon btn-danger tooltip tooltip-xs tooltip-right"
                        (click)="deleteHobby()" id="hobbyy" *ngIf="gt>1">
                        -
                        <span class="tooltip-content">Remove hobby</span>
                    </button>
                </div>
            </div>


            <!-- Profile Pic -->

            <!-- <clr-input-container>
                <label class="clr-col-4 clr-col-md-4 ">Upload Profile Pic:</label>
                <input clrInput type="file" formControlName="profilephoto" placeholder="Upload profile photo"
                    class="clr-col-8 clr-col-md-8" accept=".png, .jpg, .jpeg" size="2000000" />
                <clr-control-helper>Max. file size 2mb (jpg/jpeg/png)</clr-control-helper>
            </clr-input-container> -->


            <!-- Custom profile pic btn -->

            <!-- <clr-input-container>
                <label class="clr-col-4 clr-col-md-4 ">Upload Profile Pic:</label>
                <input clrinput type="file" formControlName="profilephoto" class="file-input" #fileUpload
                    style="display:none;" accept=".png, .jpg, .jpeg" size="2000000">
            </clr-input-container>
            <div class="file-upload">
                {{fileName || "Upload Profile pic"}}
                <button class="upload-btn" (click)="fileUpload.click()" type="button">
                    Upload Pic
                </button>
                <span>Max. file size 2mb (jpg/jpeg/png)</span>
            </div> -->

            <clr-input-container>
                <label class="clr-col-4 clr-col-md-4 ">Upload Profile Pic:</label>
                <input clrinput type="file" class="file-input" (change)="onFileSelected($event)" #fileUpload
                    style="display:none;" accept=".png, .jpg, .jpeg" size="2000000">
            </clr-input-container>
            <div class="file-upload">
                {{fileName || "Upload Profile pic"}}
                <button class="upload-btn" (click)="fileUpload.click()" type="button">
                    Upload Pic
                </button>
                <span>Max. file size 2mb (jpg/jpeg/png)</span>
            </div>



            <!--error msg for mobile and email value null-->
            <div class="emailMobileError">
                <p *ngIf="emailMobileRequired">
                    Both Email or Mobile can not be <strong>empty</strong>
                </p>
            </div>

            <!--register button-->
            <div class="registerBtn">
                <button class="btn btn-primary" type="submit" [disabled]="!registerForm.valid">Register</button>
            </div>

            <div class="navigation-link">
                <b>Already Registered?</b> <a [routerLink]="['/login']"><b> Login here</b></a>
            </div>
        </form>
    </div>
</div>

<!-- <app-password></app-password> -->