<!-- <h1>{{passwordC}}</h1> -->
<div class="alert-container">
    <div class="alert alert-danger" role="alert">
        <div class="alert-items">
            <div class="alert-item static">
                <div class="alert-icon-wrapper">
                    <cds-icon class="alert-icon" shape="exclamation-circle"></cds-icon>
                </div>
                <span class="alert-text">
                    Save this password at safe place.
                </span>
            </div>
        </div>
    </div>
</div>


<div class="content-container">
    <div class="card">

        <div class="card-block">
            <h4 class="card-title">Confidential</h4>
            <p class="card-text">
                Your Account Password is :
            </p>
            <!-- <div id="passWord"> -->
            <h1>{{passwordC}}</h1>
            <button type="button" class="btn tooltip tooltip-xs" aria-label="copy-to-clipboard"
                (click)="copyToClip()"><img src="../../../assets/content_copy_icon.png" alt="Copy" width="25px">
                <span class="tooltip-content">Copy</span>
            </button>
            <!-- </div> -->
            <p class="card-text">
                Now you can Login with your Email Id and above password.
            </p>
        </div>

        <div class="card-footer">
            <div class="navigation-link">
                <b>Go to login page</b> <a [routerLink]="['/login']"><b> Login here</b></a>
            </div>
        </div>
    </div>




</div>