.content-container {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: radial-gradient(#076585, #fff);
}

.card {
    max-width: 800px;
    max-height: 550px;
    box-shadow: 0 0 5px black;
}

.alert-container {
    position: absolute;
    left: 24%;
    top: 50px
}

.alert {
    width: 800px;
}

.card-block,
.card-footer {
    text-align: center;
}

button.btn {
    border: none;
}

/* #passWord {
    display: flex;
    justify-content: center;
} */